.App {
  text-align: center;
  background-color: aqua;
  padding-top:30px
}

#container {
  width: 80%;
  margin: auto;
  background-color: #4fffff;
  padding: 20px;
} 

h1.title {
  margin:0px 20px 20px 20px
}

.entryTextArea {

}

.previewTextArea {
    
}

.textAreaMarkdown {
  height: 400px;
  background-color: rgb(149, 255, 253);
  width: 40%;
  margin:10px;
  font-size: 16px;
  padding: 15px;
  resize: none;
  display: inline-block;
  text-align: left;
  overflow: auto;
}

.footer {
  background-color: black;
  padding: 20px;
  color: white;
  margin-top:40px
}


.previewBtnContainer {
    display: flex;
    justify-content: right;
    align-items: right;
}

.samplePreviewBtn {
  width: 50px;
  height: 50px;
  font-size: 40px;
  background-color: #047c7c;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}