.App {
  text-align: center;
  background-color: aqua;
  padding-top:30px
}

#container {
  width: 80%;
  margin: auto;
  background-color: #4fffff;
  padding: 20px;
} 

h1 {
  margin:20px;
}

.entryTextArea {

}

.previewTextArea {
    
}

.textAreaMarkdown {
  height: 400px;
  background-color: rgb(149, 255, 253);
  width: 40%;
  margin:10px;
  font-size: 16px;
  padding: 15px;
  resize: none;
}

.footer {
  background-color: black;
  padding: 20px;
  color: white;
  margin-top:60px
}